textarea {
    resize: none;
}
.form {
width: 503px;
height: 503px;
}
.form input,.form textarea{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fdfdfd;
}

.form input:focus,.form textarea:focus {
    background-color: transparent;
    border: none;
}

.button {
    display: flex;
    justify-content: center;
}
form button {
    background-color: #4EBA85;
    border-radius: 4px ;
    /* padding: 24px 32px; */
color: #fdfdfd;
width: 148px;
height: 56px;
}

.footer-left {
    position: absolute;
    top: 300px;
    left: 170px;
}
.footer-right {
    position: absolute;
    right: 80px;
}

.footer-right-ulduz {
    position: absolute;
    top: 30px;
    right: 220px;
}
 .footer-right-daire {
    position: absolute;
    right: 90px;
    top: 210px;
 }
.footer-left-yarim-daire {
    position: absolute;
    left: 20px;
}

.footer-left-daire {
    position: absolute;
    left: 280px;
    top: 100px;
}
.footer-left-kvadrat {
    position: relative;
    z-index: -1;
    left: 150px;
    top: 650px;

}


/* blog sehifesnin kodlari */
.skin-right-side h6 {
    background-color:  #EDEBF7;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.shop {
    border-radius: 20px;
    background-color: #fdfdfd ;
    

}

.explore {
    border-radius: 20px;
    background-color: #fdfdfd ;
    margin-left: 15px;
    border: 0;
}